Repository ipdk-io/k8s-infra-offload-old, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @lpawlikx, @ipatrykx, @venkateshpnv, @dhruvpt, @mgaravin

reverted ghcr.io username to github.repository_owner
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

removed github actions read-all permission
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

set write permission to packages
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

set write permission to packages
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

changed github token variable
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

changed github token variable
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

changed github token variable
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

handle errors from health check watcher error channel
  pkg/utils/grpc_watcher.go
  pkg/utils/watcher.go
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

Corrected infrad install instructions and other inaccurarcies reported by validation
  README.md
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @venkateshpnv, @dhruvpt

Updated proper return values for inframanager code
  pkg/inframanager/p4/service.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

fix utils unit test for watcher functions
  pkg/utils/grpc_watcher.go
  pkg/utils/utils_test.go
  pkg/utils/watcher.go
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

set write permission to all
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

set write permission to all actions
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

Fixed delete network bug.
  pkg/inframanager/store/storeendpoint.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Removed not required test cases from the UT.
  pkg/inframanager/store/store_suite_test.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Upgrade to Go 1.19 version and update http2 package for fix snyk reported vulnerabilities
  go.mod
  go.sum
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @lpawlikx, @ipatrykx, @venkateshpnv, @dhruvpt

Updated entire package to Go 1.19.4
  go.mod
  go.sum
  images/Dockerfile.agent
  images/Dockerfile.manager
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @lpawlikx, @ipatrykx, @venkateshpnv, @dhruvpt

Implemented UT for p4 package
  pkg/inframanager/p4/cni.go
  pkg/inframanager/p4/mockp4.go
  pkg/inframanager/p4/p4_suite_test.go
  pkg/inframanager/p4/p4interfacer.go
  pkg/inframanager/p4/service.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Fixed log messages in infra manager packages
  inframanager/api_handler/api_handler.go
  pkg/inframanager/p4/cni.go
  pkg/inframanager/p4/service.go
  pkg/inframanager/store/storeendpoint.go
  pkg/inframanager/store/storeservice.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Fixed log issues
  inframanager/api_handler/api_handler.go
  pkg/inframanager/p4/cni.go
  pkg/inframanager/store/storeendpoint.go
  pkg/inframanager/store/storeservice.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Fixed build issues
  inframanager/api_handler/api_handler.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Fixed build failures
  inframanager/api_handler/api_handler.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

.github/CODEOWNERS:

# Shared
*       @nupurjai @ahalimx86 @vishala-r @Eoghan1232
Makefile       @nupurjai @ahalimx86 @vishala-r @Eoghan1232 @ahalimx86 @lpawlikx @ipatrykx @venkateshpnv @dhruvpt
go.mod       @nupurjai @ahalimx86 @vishala-r @Eoghan1232 @ahalimx86 @lpawlikx @ipatrykx @venkateshpnv @dhruvpt
go.sum       @nupurjai @ahalimx86 @vishala-r @Eoghan1232 @ahalimx86 @lpawlikx @ipatrykx @venkateshpnv @dhruvpt
README.md       @nupurjai @vishala-r @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232 @venkateshpnv @dhruvpt
proto/*       @nupurjai @vishala-r @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232 @venkateshpnv @dhruvpt
docs/*       @nupurjai @vishala-r @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232 @venkateshpnv @dhruvpt
.github/workflows/*       @nupurjai @vishala-r @ahalimx86 @lpawlikx @ipatrykx @mgaravin @Eoghan1232 @venkateshpnv @dhruvpt

# Cloud Native
infraagent/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
pkg/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
deploy/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
images/Dockerfile.agent       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
docs/infraagent/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
hack/cicd/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232

# EPG
images/Dockerfile.manager       @nupurjai @vishala-r @venkateshpnv @dhruvpt
k8s_dp/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
# scripts/ and k8s_dp/ dirs
hack/scripts/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
hack/k8s_dp/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
inframanager/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
pkg/utils/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
pkg/inframanager/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
