Repository ipdk-io/k8s-infra-offload-old, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @lpawlikx, @ipatrykx, @venkateshpnv, @dhruvpt, @mgaravin

.github/CODEOWNERS:

# Shared
*       @nupurjai @ahalimx86 @vishala-r @Eoghan1232
Makefile       @nupurjai @ahalimx86 @vishala-r @Eoghan1232 @ahalimx86 @lpawlikx @ipatrykx @venkateshpnv @dhruvpt
go.mod       @nupurjai @ahalimx86 @vishala-r @Eoghan1232 @ahalimx86 @lpawlikx @ipatrykx @venkateshpnv @dhruvpt
go.sum       @nupurjai @ahalimx86 @vishala-r @Eoghan1232 @ahalimx86 @lpawlikx @ipatrykx @venkateshpnv @dhruvpt
README.md       @nupurjai @vishala-r @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232 @venkateshpnv @dhruvpt
proto/*       @nupurjai @vishala-r @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232 @venkateshpnv @dhruvpt
docs/*       @nupurjai @vishala-r @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232 @venkateshpnv @dhruvpt
.github/workflows/*       @nupurjai @vishala-r @ahalimx86 @lpawlikx @ipatrykx @mgaravin @Eoghan1232 @venkateshpnv @dhruvpt

# Cloud Native
infraagent/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
pkg/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
deploy/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
images/Dockerfile.agent       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
docs/infraagent/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
hack/cicd/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232

# EPG
images/Dockerfile.manager       @nupurjai @vishala-r @venkateshpnv @dhruvpt
k8s_dp/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
# scripts/ and k8s_dp/ dirs
hack/scripts/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
hack/k8s_dp/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
inframanager/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
pkg/utils/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
pkg/inframanager/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt

Use bash quoted command to run arp-proxy
  README.md
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @venkateshpnv, @dhruvpt

Revert "fixed docker registry"
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

Revert "enable docker image creation and push to docker registry"
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

Changed back the permission to 777
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

Implement composite key for services in store.
  inframanager/api_handler/api_handler.go
  pkg/inframanager/p4/service.go
  pkg/inframanager/store/storedefinition.go
  pkg/inframanager/store/storeservice.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

fixed docker registry user
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

enabled docker push for PR event for test
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

change host side PodCIDR route to GW address
  pkg/netconf/ipvlan.go
  pkg/netconf/netconf_test.go
  pkg/netconf/netutils.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Support update for NatTranslateAdd
  inframanager/api_handler/api_handler.go
  pkg/inframanager/p4/service.go
  pkg/inframanager/p4/utils.go
  pkg/inframanager/store/storedefinition.go
  pkg/inframanager/store/storeservice.go
  pkg/utils/utils.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @venkateshpnv, @dhruvpt

Support update for NatTranslateAdd
  inframanager/api_handler/api_handler.go
  pkg/inframanager/p4/service.go
  pkg/inframanager/p4/utils.go
  pkg/inframanager/store/storedefinition.go
  pkg/inframanager/store/storeservice.go
  pkg/utils/utils.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @venkateshpnv, @dhruvpt

Added NatTranslationDelete.
  inframanager/api_handler/api_handler.go
  pkg/inframanager/p4/service.go
  pkg/inframanager/store/storedefinition.go
  pkg/inframanager/store/storeservice.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

fix image registry URL in workflows
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

new protobuf file that accomodates dpdk work around for action selector
  k8s_dp/k8s_dp.pb.bin
  pkg/inframanager/p4/service.go
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt, @ahalimx86, @Eoghan1232

Removed pod mac addrs and added logs for tables
  inframanager/api_handler/api_handler.go
  pkg/inframanager/p4/service.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Change info to debug log for table messages
  pkg/inframanager/p4/service.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

new protobuf file that accomodates dpdk work around for action selector
  k8s_dp/k8s_dp.pb.bin
  pkg/inframanager/p4/service.go
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt, @ahalimx86, @Eoghan1232

enabled docker push for PR event for test
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

fix image registry URL in workflows
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

change host side PodCIDR route to GW address
  pkg/netconf/ipvlan.go
  pkg/netconf/netconf_test.go
  pkg/netconf/netutils.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

fixed docker registry user
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

Support update for NatTranslateAdd
  inframanager/api_handler/api_handler.go
  pkg/inframanager/p4/service.go
  pkg/inframanager/p4/utils.go
  pkg/inframanager/store/storedefinition.go
  pkg/inframanager/store/storeservice.go
  pkg/utils/utils.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @venkateshpnv, @dhruvpt

Change info to debug log for table messages
  pkg/inframanager/p4/service.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Removed pod mac addrs and added logs for tables
  inframanager/api_handler/api_handler.go
  pkg/inframanager/p4/service.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Added NatTranslationDelete.
  inframanager/api_handler/api_handler.go
  pkg/inframanager/p4/service.go
  pkg/inframanager/store/storedefinition.go
  pkg/inframanager/store/storeservice.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

unit test for store package
  pkg/inframanager/store/store_suite_test.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Fixed permission issues to create files under /var/lib
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

Changed permission for .json files
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

Implemeted test cases for store package
  pkg/inframanager/store/store_suite_test.go
  pkg/inframanager/store/storeservice.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Fixed merge conflict issues
  pkg/inframanager/store/store_suite_test.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Fixed compilation issues
  pkg/inframanager/store/storeservice.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Implemented UT for store package
  .github/workflows/build-and-test.yml
  hack/cicd/run-tests.sh
  pkg/inframanager/store/store_suite_test.go
  pkg/inframanager/store/storedefinition.go
  pkg/inframanager/store/storeendpoint.go
  pkg/inframanager/store/storeservice.go
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

Added new updates for scripts and readme
  README.md
  scripts/arp_proxy.sh
  scripts/create_interfaces.sh
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @venkateshpnv, @dhruvpt

Fixes to readme and script
  README.md
  scripts/create_interfaces.sh
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @venkateshpnv, @dhruvpt

Fix Coverity issue in SendMessage
  pkg/policy/messages.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Added readme for service with drop 2 sde/ovs
  README.md
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @venkateshpnv, @dhruvpt

Changes to SHA for infrap4d and p4 dpdk
  README.md
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @venkateshpnv, @dhruvpt

Implemented UT for p4 package
  hack/cicd/run-tests.sh
  pkg/inframanager/p4/cni.go
  pkg/inframanager/p4/mockp4.go
  pkg/inframanager/p4/p4_suite_test.go
  pkg/inframanager/p4/p4interfacer.go
  pkg/inframanager/p4/service.go
Owners: @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @nupurjai, @vishala-r

Fixed build issues
  pkg/inframanager/p4/p4interfacer.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Implement NatTranslationDelete.
  inframanager/api_handler/api_handler.go
  inframanager/cmd/main.go
  pkg/inframanager/p4/service.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Fixed arguments formatting directives error.
  inframanager/cmd/main.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232
