Repository ipdk-io/k8s-infra-offload-old, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @lpawlikx, @ipatrykx, @venkateshpnv, @dhruvpt, @mgaravin

Updated the p4info.txt to p4Info.txt
  inframanager/config.yaml
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

Change p4info to p4Info
  inframanager/cmd/main.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Add rule for host IP
  inframanager/api_handler/api_handler.go
  inframanager/config.yaml
  pkg/inframanager/config/config.go
  pkg/inframanager/config/format.go
  pkg/utils/utils.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @venkateshpnv, @dhruvpt

Add rule for host IP
  inframanager/api_handler/api_handler.go
  inframanager/config.yaml
  pkg/inframanager/config/config.go
  pkg/inframanager/config/format.go
  pkg/utils/utils.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @venkateshpnv, @dhruvpt

Resolved failing cases
  pkg/inframanager/store/store_suite_test.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

The default host port should be 1 instead of 0
  k8s_dp/k8s_dp.p4
  k8s_dp/k8s_dp.pb.bin
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

modified services test program according to the latest p4 program
  pkg/inframanager/test/services_test.go
  pkg/inframanager/test/utils_test.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Fix go fmt issues in gnmi.pb.go file
  proto/gnmi.pb.go
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @venkateshpnv, @dhruvpt

Get node interface from different options
  inframanager/api_handler/api_handler.go
  inframanager/cmd/main.go
  pkg/inframanager/config/config.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Fixed merge conflicts from previous commits
  proto/gnmi.pb.go
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @venkateshpnv, @dhruvpt

Added proper logging levels for inframanager.
  inframanager/api_handler/api_handler.go
  inframanager/config.yaml
  pkg/inframanager/inframanager.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @venkateshpnv, @dhruvpt

Get the node IP from the pod object
  deploy/inframanager-daemonset.yaml
  inframanager/api_handler/api_handler.go
  inframanager/cmd/main.go
  pkg/inframanager/config/config.go
  pkg/inframanager/config/format.go
  pkg/utils/utils.go
Owners: @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

Addressed review comments.
  inframanager/api_handler/api_handler.go
  pkg/inframanager/config/config.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Change the store path to /var/lib/cni/inframanager
  deploy/inframanager-daemonset.yaml
  pkg/inframanager/store/storedefinition.go
  pkg/inframanager/store/storeendpoint.go
  pkg/inframanager/store/storeservice.go
Owners: @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @nupurjai, @vishala-r

Fixed parsing the updated default route.
  inframanager/api_handler/api_handler.go
  inframanager/cmd/main.go
  pkg/inframanager/inframanager.go
  pkg/inframanager/p4/cni.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @venkateshpnv, @dhruvpt

Add rule for host IP
  deploy/inframanager-daemonset.yaml
  inframanager/api_handler/api_handler.go
  inframanager/cmd/main.go
  pkg/inframanager/config/format.go
  pkg/inframanager/inframanager.go
  pkg/inframanager/p4/cni.go
  pkg/utils/utils.go
Owners: @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

Addressed review comments.
  inframanager/api_handler/api_handler.go
  pkg/utils/common.go
  pkg/utils/utils.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @venkateshpnv, @dhruvpt

Fixed store file location issue
  pkg/inframanager/store/storeendpoint.go
  pkg/inframanager/store/storeservice.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Fixed permission issues to create files under /var/lib
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

Initial P4 code to support network policies
  k8s_dp/k8s_dp.p4
  k8s_dp/k8s_dp.pb.bin
  k8s_dp/p4Info.txt
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

use static address for host interface
  pkg/netconf/tappodinterface.go
  pkg/types/types.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

add ServiceCIDR route to host interface
  pkg/netconf/netutils.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

remove wait-for-calico init container
  deploy/infraagent-daemonset.yaml
Owners: @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232

update pkg/netconf unit tests
  pkg/netconf/netconf_test.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Update Readme to use mainline OVS & SDE
  README.md
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @venkateshpnv, @dhruvpt

Use LPM for proto in the srcip_proto table after fix in SDE
  README.md
  k8s_dp/k8s_dp.p4
  k8s_dp/k8s_dp.pb.bin
  k8s_dp/p4Info.txt
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @venkateshpnv, @dhruvpt

Use LPM for proto in the dstip_proto table after fix in SDE
  k8s_dp/k8s_dp.p4
  k8s_dp/k8s_dp.pb.bin
  k8s_dp/p4Info.txt
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

Changed permission for .json files
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

Fixed build errors due to merge conflicts
  pkg/inframanager/p4/service.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Handle service update requests.
  inframanager/api_handler/api_handler.go
  pkg/inframanager/p4/service.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Use LPM for proto in the dstip_proto table after fix in SDE
  k8s_dp/k8s_dp.p4
  k8s_dp/k8s_dp.pb.bin
  k8s_dp/p4Info.txt
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

Update Readme to use mainline OVS & SDE
  README.md
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @venkateshpnv, @dhruvpt

Use LPM for proto in the srcip_proto table after fix in SDE
  README.md
  k8s_dp/k8s_dp.p4
  k8s_dp/k8s_dp.pb.bin
  k8s_dp/p4Info.txt
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @venkateshpnv, @dhruvpt

Initial P4 code to support network policies
  k8s_dp/k8s_dp.p4
  k8s_dp/k8s_dp.pb.bin
  k8s_dp/p4Info.txt
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

Use lower case for counter names
  k8s_dp/k8s_dp.p4
  k8s_dp/k8s_dp.pb.bin
  k8s_dp/p4Info.txt
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

Use lower case for counter names
  k8s_dp/k8s_dp.p4
  k8s_dp/k8s_dp.pb.bin
  k8s_dp/p4Info.txt
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

Use lower case for counter names
  k8s_dp/k8s_dp.p4
  k8s_dp/k8s_dp.pb.bin
  k8s_dp/p4Info.txt
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

enable docker image creation and push to docker registry
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

fixed docker registry
  .github/workflows/build-and-test.yml
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @mgaravin, @Eoghan1232, @venkateshpnv, @dhruvpt

set host TAP interface mtu 1280
  pkg/netconf/netconf_test.go
  pkg/netconf/tappodinterface.go
  pkg/types/types.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

.github/CODEOWNERS:

# Shared
*       @nupurjai @ahalimx86 @vishala-r @Eoghan1232
Makefile       @nupurjai @ahalimx86 @vishala-r @Eoghan1232 @ahalimx86 @lpawlikx @ipatrykx @venkateshpnv @dhruvpt
go.mod       @nupurjai @ahalimx86 @vishala-r @Eoghan1232 @ahalimx86 @lpawlikx @ipatrykx @venkateshpnv @dhruvpt
go.sum       @nupurjai @ahalimx86 @vishala-r @Eoghan1232 @ahalimx86 @lpawlikx @ipatrykx @venkateshpnv @dhruvpt
README.md       @nupurjai @vishala-r @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232 @venkateshpnv @dhruvpt
proto/*       @nupurjai @vishala-r @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232 @venkateshpnv @dhruvpt
docs/*       @nupurjai @vishala-r @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232 @venkateshpnv @dhruvpt
.github/workflows/*       @nupurjai @vishala-r @ahalimx86 @lpawlikx @ipatrykx @mgaravin @Eoghan1232 @venkateshpnv @dhruvpt

# Cloud Native
infraagent/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
pkg/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
deploy/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
images/Dockerfile.agent       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
docs/infraagent/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
hack/cicd/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232

# EPG
images/Dockerfile.manager       @nupurjai @vishala-r @venkateshpnv @dhruvpt
k8s_dp/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
# scripts/ and k8s_dp/ dirs
hack/scripts/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
hack/k8s_dp/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
inframanager/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
pkg/utils/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
pkg/inframanager/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
