Repository ipdk-io/k8s-infra-offload-old, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @lpawlikx, @ipatrykx, @venkateshpnv, @dhruvpt, @mgaravin

Updated README for running ping with ARP proxy
  README.md
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @venkateshpnv, @dhruvpt

Rename instead of moving to another namespace
  README.md
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @venkateshpnv, @dhruvpt

Added services stitching changes to inframanager
  inframanager/api_handler/api_handler.go
  k8s_dp/k8s_dp.pb.bin
  pkg/inframanager/inframanager.go
  pkg/inframanager/p4/service.go
  pkg/inframanager/store/storedefinition.go
  pkg/inframanager/store/storeendpoint.go
  pkg/types/types.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @venkateshpnv, @dhruvpt

Provide mod of test-pod.yaml and rename TAP0 to TAP_0
  README.md
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @venkateshpnv, @dhruvpt

Updated for testing service deployment
  README.md
Owners: @nupurjai, @vishala-r, @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @venkateshpnv, @dhruvpt

Added P4runtime Rules for Service
  pkg/inframanager/p4/service.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Corrected go formatting
  pkg/inframanager/p4/service.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Addressed Review Comments
  inframanager/cmd/main.go
  pkg/inframanager/p4/service.go
  pkg/inframanager/p4/utils.go
  pkg/inframanager/store/storedefinition.go
  pkg/inframanager/store/storeservice.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Added services stitching changes to inframanager
  inframanager/api_handler/api_handler.go
  k8s_dp/k8s_dp.pb.bin
  pkg/inframanager/inframanager.go
  pkg/inframanager/p4/service.go
  pkg/inframanager/store/storedefinition.go
  pkg/inframanager/store/storeendpoint.go
  pkg/types/types.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @venkateshpnv, @dhruvpt

Fixed go formatting issues
  pkg/inframanager/p4/service.go
  pkg/inframanager/p4/utils.go
  pkg/inframanager/store/storeservice.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Addressed review comments
  inframanager/api_handler/api_handler.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Fixed cosmetic issues
  pkg/inframanager/p4/service.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

change infra-manager imagePull policy to 'Always'
  deploy/inframanager-daemonset.yaml
Owners: @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232

Support update requests for NatTranslationAdd.
  inframanager/api_handler/api_handler.go
  pkg/inframanager/p4/service.go
  pkg/inframanager/p4/utils.go
  pkg/inframanager/store/storedefinition.go
  pkg/inframanager/store/storeservice.go
  pkg/utils/utils.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @venkateshpnv, @dhruvpt

Added standalone testing code for services
  pkg/inframanager/test/services_test.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Fixed compilation issues
  pkg/inframanager/test/cni_add_test.go
  pkg/inframanager/test/services_test.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Added changes to create common file for util functions
  pkg/inframanager/test/cni_add_test.go
  pkg/inframanager/test/services_test.go
  pkg/inframanager/test/utils_test.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Get port id from the interface name.
  inframanager/api_handler/api_handler.go
  inframanager/cmd/main.go
  inframanager/config.yaml
  pkg/inframanager/config/config.go
  pkg/inframanager/config/format.go
  proto/gnmi.pb.go
  proto/gnmi.proto
  proto/gnmi_ext.pb.go
  proto/gnmi_ext.proto
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @venkateshpnv, @dhruvpt, @lpawlikx, @ipatrykx

Return error if failed to get port id.
  inframanager/api_handler/api_handler.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Addressed review comments
  inframanager/cmd/main.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Modified the way of populating the getGequest.
  inframanager/api_handler/api_handler.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

allow user provided kubeconfig for infra agent
  Makefile
  deploy/infraagent-daemonset.yaml
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @lpawlikx, @ipatrykx, @venkateshpnv, @dhruvpt

remove in cluster client config option
  pkg/utils/utils.go
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

update utils.GetK8sConfig unit tests
  pkg/utils/utils_test.go
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

use static addresses for host & backened interfaces
  inframanager/api_handler/api_handler.go
  pkg/netconf/netutils.go
  pkg/netconf/sriovpodinterface.go
  pkg/netconf/tap.go
  pkg/netconf/tappodinterface.go
  pkg/types/types.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Fixed unit tests for new host & backend interface addresses implementation
  pkg/netconf/netconf_test.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

remove infra agent wait-for-calico init container
  deploy/infraagent-daemonset.yaml
Owners: @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232

Change infra protobuf definition
  deploy/infraagent-daemonset.yaml
  inframanager/api_handler/api_handler.go
  pkg/cni/cni.go
  pkg/cni/cni_test.go
  pkg/mock_proto/mock.go
  pkg/netconf/ipvlanpodinterface.go
  pkg/netconf/netconf_test.go
  pkg/netconf/netutils.go
  pkg/netconf/sriovpodinterface.go
  pkg/netconf/tappodinterface.go
  pkg/policy/messages.go
  pkg/policy/policy_server.go
  pkg/policy/policy_server_test.go
  pkg/services/nat_settings_handler.go
  pkg/services/services_test.go
  pkg/types/types.go
  proto/infra.pb.go
  proto/infra.proto
Owners: @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

unit test for store package
  hack/cicd/run-tests.sh
  pkg/inframanager/store/store_suite_test.go
  pkg/inframanager/store/storedefinition.go
  pkg/inframanager/store/storeendpoint.go
  pkg/inframanager/store/storeservice.go
Owners: @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @nupurjai, @vishala-r

Get port id for SetupHostInterface from gNMIServer
  inframanager/api_handler/api_handler.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Fixed issues in log messages
  pkg/inframanager/store/store_suite_test.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Fixed log messages
  pkg/inframanager/store/store_suite_test.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Allocate buffer for service endpoints
  inframanager/api_handler/api_handler.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

Use port 1 as default port for host connectivity
  k8s_dp/k8s_dp.p4
  k8s_dp/k8s_dp.pb.bin
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

Replace p4info by p4Info
  inframanager/api_handler/api_handler.go
  inframanager/cmd/main.go
  inframanager/config.yaml
  k8s_dp/k8s_dp.pb.bin
  k8s_dp/p4Info.txt
  pkg/inframanager/test/cni_add_test.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232, @venkateshpnv, @dhruvpt

avoid duplicate symbol
  pkg/inframanager/test/cni_add_test.go
Owners: @nupurjai, @ahalimx86, @vishala-r, @Eoghan1232

remove mac_to_port_table and use only arpt_to_port_table and ipv4_to_port_table for forwarding
  k8s_dp/k8s_dp.p4
  k8s_dp/k8s_dp.pb.bin
  k8s_dp/p4info.txt
  pkg/inframanager/p4/cni.go
  pkg/inframanager/test/cni_add_test.go
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt, @ahalimx86, @Eoghan1232

Do not update MAC address as part of NAT mod operations for services
  deploy/kustomization.yaml
  k8s_dp/k8s_dp.p4
  k8s_dp/k8s_dp.pb.bin
  k8s_dp/p4info.txt
  pkg/inframanager/p4/service.go
Owners: @ahalimx86, @lpawlikx, @ipatrykx, @Eoghan1232, @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt

Avoid duplicate symbol
  k8s_dp/k8s_dp.p4
  k8s_dp/k8s_dp.pb.bin
  k8s_dp/p4Info.txt
  pkg/inframanager/p4/cni.go
  pkg/inframanager/test/cni_add_test.go
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt, @ahalimx86, @Eoghan1232

removed mac-mod as part of NAT
  k8s_dp/k8s_dp.p4
  k8s_dp/k8s_dp.pb.bin
  k8s_dp/p4Info.txt
  pkg/inframanager/p4/service.go
  pkg/inframanager/test/services_test.go
Owners: @nupurjai, @vishala-r, @venkateshpnv, @dhruvpt, @ahalimx86, @Eoghan1232

.github/CODEOWNERS:

# Shared
*       @nupurjai @ahalimx86 @vishala-r @Eoghan1232
Makefile       @nupurjai @ahalimx86 @vishala-r @Eoghan1232 @ahalimx86 @lpawlikx @ipatrykx @venkateshpnv @dhruvpt
go.mod       @nupurjai @ahalimx86 @vishala-r @Eoghan1232 @ahalimx86 @lpawlikx @ipatrykx @venkateshpnv @dhruvpt
go.sum       @nupurjai @ahalimx86 @vishala-r @Eoghan1232 @ahalimx86 @lpawlikx @ipatrykx @venkateshpnv @dhruvpt
README.md       @nupurjai @vishala-r @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232 @venkateshpnv @dhruvpt
proto/*       @nupurjai @vishala-r @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232 @venkateshpnv @dhruvpt
docs/*       @nupurjai @vishala-r @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232 @venkateshpnv @dhruvpt
.github/workflows/*       @nupurjai @vishala-r @ahalimx86 @lpawlikx @ipatrykx @mgaravin @Eoghan1232 @venkateshpnv @dhruvpt

# Cloud Native
infraagent/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
pkg/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
deploy/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
images/Dockerfile.agent       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
docs/infraagent/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232
hack/cicd/*       @ahalimx86 @lpawlikx @ipatrykx @Eoghan1232

# EPG
images/Dockerfile.manager       @nupurjai @vishala-r @venkateshpnv @dhruvpt
k8s_dp/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
# scripts/ and k8s_dp/ dirs
hack/scripts/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
hack/k8s_dp/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
inframanager/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
pkg/utils/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
pkg/inframanager/*       @nupurjai @vishala-r @venkateshpnv @dhruvpt
